body {
    overflow: scroll;
}
td,th,tr {
    border: 3px solid #cba994;
    padding: 8px;
}
.flightTab {
    border: 1px solid black;
    border-collapse: collapse;
    width: 80% ;
    border-radius: 10px;
    margin-bottom: 40vh;
}
.FlightsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Ensure the pseudo-element is positioned relative to this container */
    z-index: 1; /* Make sure the FlightsList content is on top of the blurred background */
    width: 250vh;
    height: 150vh; 
}

.FlightsList::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/john-mcarthur-PrdNTrIrG8w-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px); 
    z-index: -1; 
}

tbody td {
   
}
.td {
    display: flex;
    border: 0;
    gap: 3px;
    justify-content: center;
    align-items: center;
}
.td button{
    width: 110px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.add {
    color: #646cff;
}
.add:hover {
    color: #535bf2;
}
.label {
    color: #213547;
}